<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="api接口">
    <parameter name="params" value="params"/>

    <test name="testName">
        <classes>
            <class name="com.pdx.utils.GeneratorReport"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.pdx.config.ExtentReporter"/>
    </listeners>
</suite>